:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --white: hsl(0, 0%, 100%);
    --gray: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

footer {
    background-color: var(--very-dark-cyan);
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.button {
    background-color: var(--pink);
    color: var(--very-pale-blue);
    box-shadow: 0px 0px 5px var(--gray);
    border: none;
    padding: 1rem;
    width: 20%;
    border-radius: 2rem;
    cursor: pointer;
}

.free-btn {
    box-shadow: 0px 0px 5px var(--pink);
    background-color: var(--white);
    border: solid 1px var(--pink);
    border-radius: 2rem;
    color: var(--pink);
    width: 10%;
    cursor: pointer;
}

.build-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.build-community > p {
    margin: 2.5rem 0;
    text-align: center;
    width: 40%;
}

.screen-mockup {
    display: flex;
    justify-content: center;
}

.outreach {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.communities-formed,
.messages-sent {
    margin: 0 2rem;
}

.communities-formed > p,
.messages-sent > p {
    text-align: center;
    color: var(--gray);
}

.communities-formed > h2,
.messages-sent > h2 {
    font-size: 80px;
}

.huddle-info > .box {
    display: flex;
}

.huddle-info > .box > .together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.huddle-info > .box > .image-together {
    width: 50%;
} 

.huddle-info > .box > .image-together > img {
    width: 500px;
}

.huddle-info > .blue {
    background-color: var(--very-pale-blue);
} 

.big-section {
    width: 100%;
}


/*---- hover states ----*/

.button:hover,
.free-btn:hover {
    opacity: 0.5;
}
