.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light: hsl(321, 100%, 78%);
    --red: hsl(0, 100%, 63%);
    --cyan: hsl(192, 100%, 9%);
    --blue: hsl(207, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: inline-flex;
    margin: 4rem 4rem 8rem 4rem;
}

footer {
    background-color: var(--cyan);
    width: 100%;
}

h1,
h2,
h3,
.four p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: xxx-large;
}

#dark img {
    width: 100%;
}

#btn {
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--light);
}

#mockups img {
    width: 700px;
    margin-bottom: 4rem;
}

#top-one,
#top-two,
#bottom-one,
#bottom-two,
#dark {
    width: -webkit-fill-available;
}

#img {
    filter: invert();
    padding-bottom: 1.5rem;
}

#receive {
    padding: 2rem 0 2rem 0;
}

#upper {
    text-transform: uppercase;
}

.button {
    font-weight: 600;
    border-radius: 30px;
    width: 25%;
    background-color: var(--pink);
    color: var(--blue);
    border: none;
    padding: 1.25rem;
    box-shadow: 0 3px 8px 5px rgb(0 0 0 / 20%);
}

.button:hover {
    cursor: pointer;
    font-size: larger;
    height: 56px;
}

.button:active {
    opacity: 0.5;
}


.one {
    margin: 2rem 4rem 6rem 4rem;
    text-align: center;
}

.one p {
    padding: 1rem 20rem 3rem 20rem;
}

.two {
    display: grid;
    grid: auto/ auto auto;
    margin-bottom: 6rem;
}

.community h2,
.message h2 {
    font-size: 70px;
}

.community img,
.message img {
    width: 35px;
}

.community p,
.message p {
    text-align: center;
    opacity: 0.5;
}

.community {
    padding-right: 6rem;
}

.message {
    padding-left: 6rem;
}

.box {
    display: grid;
    grid: auto/ auto auto;
    padding: 6rem;
}

.box h3 {
    font-size: xx-large;
    padding-bottom: 2rem;
}

.box img {
    width: 500px;
}

.together {
    padding: 6rem;
}

.blue {
    background-color: var(--blue);
}

.four {
    margin: 4rem 4rem 8rem 4rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.four p {
    font-size: xx-large;
    padding: 2rem;
}

.four button {
    width: 55%;
}

.bottom {
    display: grid;
    grid: auto/ auto auto auto;
    padding: 4rem;
}

.contact,
.newsletter {
    color: var(--blue);
    padding: 0 2rem 0 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
}

.lorem {
    padding: 0 9rem 0 0;
}

.phone,
.email {
    display: inline-flex;
    padding: 1.5rem 0 .5rem 0;
}

.phone img,
.email img {
    padding-right: .625rem;
}

.phone a,
.email a {
    text-decoration: none;
    color: var(--blue);
}

.newsletter button {
    padding: 0.625rem;
    width: 20%;
    background-color: var(--pink);
    color: var(--blue);
    border-radius: 5px;
}

.form :nth-child(1) {
    padding: .625rem;
    width: 45%;
    border-radius: 5px;
}

.form :nth-child(2) {
    padding: .825rem;
    width: 25%;
    background-color: var(--pink);
    color: var(--blue);
    font-weight: 700;
    margin-left: 1rem;
    border: none;
    border-radius: 5px;
}

.form :nth-child(2):hover {
    cursor: pointer;
}

.form :nth-child(2):active {
    background-color: var(--light);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}